body {
  background-color: #0a5dba;
}

.brawler-selection {
  overflow: auto;
}

.brawler-selection::-webkit-scrollbar {
  display: none;
}

.brawler {
  position: relative;
  height: 100px;
  min-width: 175px;
  border: black 7px solid;
}

.brawler img {
  height: 100%;
}

.brawler-name {
  position: absolute;
  bottom: 0;
  left: 0;
}

.common {
  background-color: #96daf5;
}

.rare {
  background-color: #34e01f;
}

.super-rare {
  background-color: #0089fa;
}

.epic {
  background-color: #b814e8;
}

.mythic {
  background-color: #ff1c24;
}

.legendary {
  background-color: #fdf322;
}

.ultra-legendary {
  background-color: white;
}