body {
  background-color: #0a5dba;
  font-family: "Lilita One", sans-serif;
  color: white;
  font-size: 20px;
  text-shadow: -2px -2px 0 #040404, 0 -2px 0 #040404, 2px -2px 0 #040404, 2px 0 0 #040404, 2px 2px 0 #040404, 0 2px 0 #040404, -2px 2px 0 #040404, -2px 0 0 #040404, 0 3.5px 0 #040404, -2px 3.5px 0 #040404, 2px 3.5px 0 #040404;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  text-shadow: -2px -2px 0 #040404, 0 -2px 0 #040404, 2px -2px 0 #040404, 2px 0 0 #040404, 2px 2px 0 #040404, 0 2px 0 #040404, -2px 2px 0 #040404, -2px 0 0 #040404, 0 3.5px 0 #040404, -2px 3.5px 0 #040404, 2px 3.5px 0 #040404;
}

.mute-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99999;
}

.selection-container {
  background-color: black;
}

.brawler-selection {
  overflow: auto;
}

.brawler-selection::-webkit-scrollbar {
  display: none;
}

.brawler {
  border: black 7px solid;
  cursor: pointer;
  position: relative;
  height: 20vh;
  overflow: hidden;
  height: 150px;
  min-width: 225px;
}

.brawler img {
  height: 100%;
}

.brawler-name {
  padding-left: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.brawler-picked {
  position: absolute;
  text-align: center;
  color: black;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-shadow: none;
  font-size: 34px;
  z-index: 30;
}

.brawler-name-not-selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.brawler-name-selected {
  background-color: rgba(255, 255, 255, 0.5);
}

.info {
  text-align: center;
}

.dimmer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.inner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 5px white;
  z-index: 21;
}

.wrapper {
  top: 0px;
  left: 0px;
}

.moving-background {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -9999;
}

.curBackground {
  position: absolute;
  height: 42px;
  width: 42px;
  z-index: 9;
  right: 0px;
  top: 0px;
}

.curBackground img {
  position: relative;
  z-index: 10;
  height: 80px;
  left: -17px;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.common {
  background-color: #96daf5;
}

.rare {
  background-color: #34e01f;
}

.super-rare {
  background-color: #0089fa;
}

.epic {
  background-color: #b814e8;
}

.mythic {
  background-color: #ff1c24;
}

.legendary {
  background-color: #fdf322;
}

.ultra-legendary {
  background-color: white;
}

.teams {
  position: relative;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 2px black;
  overflow: hidden;
}

.blue-team:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center;
  transform: skewX(-5deg);
  z-index: 3;
}

.blue-team {
  background-color: #2161d4;
  position: relative;
  height: 30vh;
}

.red-team:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center;
  transform: skewX(-5deg);
  border-left: 5px solid #000;
  z-index: 3;
}

.red-team {
  background-color: #a3153c;
  position: relative;
  height: 30vh;
}

.versus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  z-index: 10;
}